---
import Layout from "@/layouts/Layout.astro";
import { getCollection } from "astro:content";
import { getAbsoluteLocaleUrl } from "astro:i18n";
import ProjectCardWithTooltip from "@/components/ProjectCardWithTooltip.astro";

const lang = Astro.currentLocale || "en";

const projects = await getCollection("projects", ({ id }) =>
  id.startsWith(lang),
);
projects.sort((a, b) => a.data.order - b.data.order);
---

<Layout title="Projects | Jhon Romero" description="Hello there">
  <section class="container grid gap-4 md:grid-cols-2 xl:grid-cols-3 py-16">
    {
      projects.map(({ id, data }) => (
        <ProjectCardWithTooltip
          id={id}
          slug={getAbsoluteLocaleUrl(lang, `/projects/${id.split("/")[1]}`)}
          title={data.title}
          skills={data.skills}
          description={data.description}
          repoUri={data.repoUri}
          website={data.website}
          image={data.image}
        />
      ))
    }
  </section>
  <div></div>
</Layout>
