---
import TimelineCard from "@/components/TimelineCard.astro";
import { loadI18n } from "@/utils/i18n";
import data from "@/assets/cv/education.json";

const lang = Astro.currentLocale || "en";
const t = await loadI18n({ lang, asset: "pages/home" });

const education = data[lang as keyof typeof data];
---

<div class="flex-1">
  <h3 class="text-heading2 font-semibold">{t("trajectory.educationTitle")}</h3>
  <ol>
    {
      education.map((item) => (
        <TimelineCard
          title={item.title}
          subtitle={item.institution}
          description={item.description}
          startDate={item.startDate}
          endDate={item.endDate}
        />
      ))
    }
  </ol>
</div>
