---
import Layout from "@/layouts/Layout.astro";
import HeadPost from "@/components/HeadPost.astro";

interface Layout {
  title: string;
  description: string;
  lang?: string;
  image?: string;
  author: string;
  canonical?: string;
  publised?: Date;
  readMinTime?: number;
}

const {
  id,
  title,
  description,
  image,
  canonical,
  readMinTime,
  author,
  published,
} = Astro.props;
---

<Layout
  title={title}
  description={description}
  image={image}
  canonical={canonical}
>
  <section class="mx-auto lg:py-20 py-8 sm:py-16">
    <article>
      <HeadPost
        id={id}
        title={title}
        author={author}
        published={published}
        excerpt={description}
        image={image}
        readTime={readMinTime}
      />

      <slot name="subhead" />

      <div
        class="mx-auto sm:px-6 max-w-3xl px-6 mt-24 mb-12 prose-a:text-ui-accent prose-headings:text-typo-primary md:prose-xl prose-p:text-typo-secondary prose-a:hover:underline prose-headings:font-bold prose-headings:font-heading prose-headings:leading-tighter prose-headings:scroll-mt-[80px] prose-headings:tracking-tighter prose-img:rounded-md prose-img:shadow-lg prose-li:my-0 prose-li:text-typo-secondary prose-base prose-ul:list-disc prose-ol:list-decimal prose-tr:border-b prose-tr:even:bg-ui-02/25 prose-figure:[&>pre]:rounded-none prose-figure:[&>pre]:rounded-b-lg prose:text-pretty prose-pre:[:not(&)>code]:bg-gray-800 prose-pre:[:not(&)>code]:text-ui-accent prose-pre:[:not(&)>code]:font-mono prose-pre:[:not(&)>code]:p-1 prose-pre:[:not(&)>code]:rounded prose-pre:[:not(&)>code]:text-[.7em] prose-pre:[:not(&)>code]:font-semibold prose-pre:[:not(&)>code]:align-middle prose-img:w-full"
      >
        <slot />
      </div>
    </article>
  </section>
  <!-- <FooterPost title={title} categories={categories} /> -->

  <!-- <script
    async
    defer
    crossorigin="anonymous"
    src="https://connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v20.0"
    nonce="Yxgs4VZM"></script> -->
</Layout>
